@model SGCP.Application.Dtos.ModuloReporte.Reporte.ReporteGetDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="IdReporte" class="control-label"></label>
                <input asp-for="IdReporte" class="form-control" type="hidden" />
                <span asp-validation-for="IdReporte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminId" class="control-label"></label>
                <input asp-for="AdminId" class="form-control" />
                <span asp-validation-for="AdminId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalVentas" class="control-label"></label>
                <input asp-for="TotalVentas" class="form-control" />
                <span asp-validation-for="TotalVentas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPedidos" class="control-label"></label>
                <input asp-for="TotalPedidos" class="form-control" />
                <span asp-validation-for="TotalPedidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

